{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hexdle</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favico.ico' %}"/>
    <link rel="stylesheet" href="{% static 'scss/main.css' %}"/>
    {% load bootstrap5 %}
    {% bootstrap_javascript %}
    <style type="text/css">.ifield {
        background-color: rgb(248, 249, 250);
        border: 2px solid rgb(53, 68, 53);
        font-size: 40px;
        text-align: center;
        vertical-align: middle;
        width: 60px;
        text-transform:lowercase;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Hexdle</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                      </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="position-fixed top-5 end-0 p-3" style="z-index: 11">
        <div class="toast text-white bg-success" id="liveToast">
            <div class="toast-body">
                Cart Updated!
            </div>
        </div>
        <div class="toast text-white bg-danger" id="liveToastError">
            <div class="toast-body">
                Error
            </div>
        </div>
    </div>
{% block content %}
{% endblock %}
</body>
</html>